.poke-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 10px solid black;
  background: rgba(255, 255, 255, 0.61);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.256);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.25);

  img {
    width: 100px;
    height: 100px;
  }
}

body {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/canyon.jpg");
  background-size: cover;
  font-family: monospace;
}
